body
{
    margin: 0;
    padding: 0;
}


/* ========== form Style ==============================   */

.update_form label{
    padding: 0;
    margin: 0;
    width: 50%;
    height: 20px !important;
}
.update_form input {
    padding: 0;
    width: 100%;
    margin: 0;
    outline: none;
    border: none;
    border-bottom: 1px solid;
    border-color: rgba(0, 0, 0, 0.308);
    color: rgb(1, 1, 83);
}
.update_form textarea
{
    outline: none;
    border: none;
    border-bottom: 1px solid;
    width: 100%;   
    color: rgb(1, 1, 83); 
}
.update_form select
{
    width: 200px;
    color: rgb(1, 1, 83);
}
