body
{
    margin: 0;
    padding: 0;
}


/* ========== form Style ==============================   */

.update_form label{
    padding: 0;
    margin: 0;
    width: 50%;
    height: 20px !important;
}
.update_form input {
    padding: 0;
    width: 100%;
    margin: 0;
    outline: none;
    border: none;
    border-bottom: 1px solid;
    border-color: rgba(0, 0, 0, 0.308);
    color: rgb(1, 1, 83);
}
.update_form textarea
{
    outline: none;
    border: none;
    border-bottom: 1px solid;
    width: 100%;   
    color: rgb(1, 1, 83); 
}
.update_form select
{
    width: 200px;
    color: rgb(1, 1, 83);
}

.message.hide
{
    display: none !important;
}

/* ---------------------chart css---------------- */

.bar_chart
{
    display: flex;
    align-items: center;
    border-left: 1px solid #0e0e0e;
    border-bottom: 1px solid #0e0e0e;
    padding-left: 100px;
    height: 400px;
    position: relative;    
}
.bar_chart::before
{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background:url('../images/chartbg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    backface-visibility: unset;
    opacity: 0.5;
}
.Total_details
{
    position: absolute;
    left: 50px;
    top: 10px;
    width: 50%;
    height: 100px;
    z-index: 99;
}
.single_chart
{    
    position: absolute;    
    /* bottom: 0; */
    height: 80%;
    bottom: -8px;
    width: 30px;
    overflow: hidden;
    height: calc(var(--i)*1%);
}
.single_chart::before
{
    
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: calc(var(--i)*1%);
    width: 100%;
}
.single_chart span
{
    position: relative;
    width: 100%;
    height: 100%;
}
.single_chart:nth-child(1)
{
    background: rgb(5, 231, 5);
    left: 50px;
}


.single_chart:nth-child(2)
{
    left: 120px;
    background: rgb(2, 99, 2);
    
}

.single_chart:nth-child(3)
{
    background: rgb(35, 39, 35);
    
    left:190px;
}

.single_chart:nth-child(4)
{
    background: rgb(2, 99, 2);
    left: 260px;
}

.single_chart:nth-child(5)
{
    left: 310px;
    background: rgb(35, 39, 35);
}

.single_chart:nth-child(6)
{
    background: rgb(32, 54, 179);
    left:380px;
}
