{% block content %}

<section class="chart container m-5">
  <h3>Chart Details</h3>
  
  <div class="inner_chart col-12 mt-3 ">
    <div class="Total_details">
      <h5>
        Total Queries:<p class="ml-5"> 59</p></div>
      </h5>
    
    <div class="col-12 col-lg-6 bar_chart">
      <div class="single_chart m-2" style="--i:20"> 
      </div>
      <div class="single_chart m-2" style="--i:50">        
      </div>
      <div class="single_chart m-2" style="--i:30">     
      </div>
      <div class="single_chart m-2" style="--i:20"> 
      </div>
      <div class="single_chart m-2" style="--i:50">        
      </div>
      <div class="single_chart m-2" style="--i:30">     
      </div>
    </div>
  </div>
</section>
<script>
  
</script>

{% endblock %}