{%extends 'base.html'%}
{%block content%}
<head
<section class="pdf_design container-fluid ">
    <div class="inner_pdf_design">
        <div class="logo"> 
            <div class="img"></div>
        </div>
        <div class="date_range ">
            <h6 id="printDate"><span>Till Date - </span>{{current_date}} </h6>
            <p>Print by :</p>
        </div>
    </div>
</section>
<div class="pdf-table table-responsive ">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th scope="col">Docket No</th>
                <th scope="col">Citizen Name</th>
                <th scope="col">Phone</th>
                <th scope="col">Message</th>
                <th scope="col">Status</th>
                <th scope="col">Created</th>
                <th scope="col">Updated</th>
        </thead>
        <tbody>
            {% for nidan_ticket in nidan_tickets %}
            <tr>
                <td>{{nidan_ticket.docket_number}}</td>
                <td>{{nidan_ticket.citizen_name}}</td>
                <td>{{nidan_ticket.phone}}</td>
                <td>{{nidan_ticket.message}}</td>
                <td>{{nidan_ticket.status}}</td>
                <td>{{nidan_ticket.created_date}}</td>
                <td>{{nidan_ticket.updated_date}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    const date = new Date();
    document.getElementById('printDate').innerHTML=date.getDate()+'/'+date.getMonth()+'/'+date.getFullYear();
    console.log(date.getDate()+'/'+date.getMonth()+'/'+date.getFullYear());
</script>

{%endblock%}