<table class="table table-striped table-bordered" >
    <thead>
        <tr>
            <th scope="col">Docket No</th>
            <th scope="col">Citizen Name</th>
            <th scope="col">Phone</th>
            <th scope="col">Message</th>
            <th scope="col">Status</th>
            <th scope="col">Created</th>
            <th scope="col">Updated</th>
            <th scope="col">Change Status</th>
        </tr>
    </thead>
    <tbody>
        {% for nidan_ticket in nidan_tickets %}
            <tr>
                <td>{{nidan_ticket.docket_number}}</td> 
                <td>{{nidan_ticket.citizen_name}}</td> 
                <td>{{nidan_ticket.phone}}</td> 
                <td>{{nidan_ticket.message}}</td> 
                <td>{{nidan_ticket.status}}</td> 
                <td>{{nidan_ticket.created_date}}</td>
                <td>{{nidan_ticket.updated_date}}</td>
                <td> <a href="{% url 'nidan_data_table' nidan_ticket.id %}" class="btn btn-outline-primary">Change</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
