<br>
<hr>
<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="total-orders">
                <div class="card-header" style="background-color: rgb(10, 75, 75);">
                    <h5 class="card-title">Total Ticket</h5>
                </div>
                <div class="card-body">
                    <h5 class="card-title" style="color: black;">{{total_ticket}}</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <dic class="card text-center text-white mb-3" id="orders-delivered">
                <div class="card-header" style="background-color: rgb(10, 75, 75);">
                    <div class="card-title">
                        <h5 class="card-title"> Ticket Closed</h5>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title" style="color: black;">{{ticket_closed}}</h5>
                </div>
            </dic>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <dic class="card text-center text-white mb-3" id="orders-pending">
                <div class="card-header" style="background-color: rgb(10, 75, 75);">
                    <div class="card-title">
                        <h5 class="card-title"> Ticket Open</h5>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title" style="color: black;">
                        {{ticket_open}}
                    </h5>
                </div>
            </dic>
        </div>
    </div>

</div>
<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="total-orders">
                <div class="card-header" style="background-color: rgb(10, 75, 75);">
                    <h5 class="card-title">Ticket Reopened</h5>
                </div>
                <div class="card-body">
                    <h5 class="card-title" style="color: black;">{{ticket_reopened}}</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <dic class="card text-center text-white mb-3" id="orders-delivered">
                <div class="card-header" style="background-color: rgb(10, 75, 75);">
                    <div class="card-title">
                        <h5 class="card-title"> Ticket Resolved </h5>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title" style="color: black;">{{ticket_resolved}}</h5>
                </div>
            </dic>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="orders-pending">
                <div class="card-header" style="background-color: rgb(10, 75, 75);">
                    <div class="card-title">
                        <h5 class="card-title">Ticket Duplicate</h5>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        <h5 class="card-title"style="color: black;">{{ticket_duplicate}}</h5>
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>