<html>
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div id="my-data"></div>
    <button id="my-button">Click me</button>
    {% json_script my_objects 'my-objects' %}
    <script>
        $(document).ready(function() {
            $('#my-button').click(function() {
                $.ajax({
                    url: "{% url 'ajax_trial' %}",
                    data: {
                        'my_objects': JSON.parse('$(#my_objects').html());
                    },
                    success: function(data) {
                        $('#my-data').text(data.foo);
                    }
                });
            });
        });
    </script>
</body>
</html>
